# fly.toml app configuration file generated for leoprime on 2026-01-10T14:58:27-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'leoprime'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile'

[env]
  NODE_ENV = 'production'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
